.info2 {
  display: grid;
  gap: 5%;
  grid-template-columns: 0.01fr repeat(3, minmax(100px, 1fr)) 0.01fr;
  grid-template-rows: 0.01fr 2fr 2fr 0.01fr;
  border-radius: 1%;
  background: linear-gradient(#fcfcfc, #999999);
  height: 110%;
  width: 40%;
  margin: -5% 0% 0% 3%;
  animation: smallInfo var(--animation-time-4)
    cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.info2Title {
  grid-column: 1/6;
  align-self: center;
  justify-self: center;
  background: -webkit-linear-gradient(#2affff, rgb(63, 132, 236));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info2 > button {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  text-align: center;
  border: none;
  border-radius: 10%;
  height: 110%;
  width: 80%;
}

.info2 > button:nth-child(2n) {
  grid-column: 2;
}

.info2 > button:nth-child(3n) {
  grid-column: 3;
}

.info2 > button:nth-child(4n) {
  grid-column: 4;
}

.optionOneHome {
  background: -webkit-linear-gradient(30deg, #db9600, rgb(212, 195, 97));
}

.optionOneHome:hover {
  background: -webkit-linear-gradient(30deg, #533900, rgb(212, 195, 97));
  color: white;
}

.optionOneHome:active {
  background: -webkit-linear-gradient(30deg, #302100, rgb(161, 148, 74));
  color: white;
}

.optionOneIcon {
  margin-top: 30%;
  font-size: 500% !important;
}

.optionTwoIcon {
  margin-top: 46%;
  font-size: 500% !important;
}

.optionTwoHome {
  background: -webkit-linear-gradient(30deg, #2affff, rgb(1, 156, 177));
}

.optionTwoHome:hover {
  background: -webkit-linear-gradient(30deg, #0b9b9b, rgb(15, 255, 255));
  color: white;
}

.optionTwoHome:active {
  background: -webkit-linear-gradient(30deg, #086666, rgb(10, 168, 168));
  color: white;
}

.optionThreeHome {
  background: -webkit-linear-gradient(30deg, #2affa6, rgb(141, 236, 63));
}

.optionThreeHome:hover {
  background: -webkit-linear-gradient(30deg, #1d9b66, rgb(141, 236, 63));
  color: white;
}

.optionThreeHome:active {
  background: -webkit-linear-gradient(30deg, #136945, rgb(92, 155, 40));
  color: white;
}

.optionFourHome {
  background: -webkit-linear-gradient(#b3b4b4, rgb(39, 108, 212));
}

.optionFourHome:hover {
  background: -webkit-linear-gradient(#b3b4b4, rgb(16, 39, 75));
  color: white;
}

.optionFourHome:active {
  background: -webkit-linear-gradient(#7a7a7a, rgb(7, 18, 36));
  color: white;
}

.optionFiveHome {
  background: -webkit-linear-gradient(#ff782a, rgb(236, 63, 63));
}

.optionFiveHome:hover {
  background: -webkit-linear-gradient(#88431b, rgb(165, 26, 26));
  color: white;
}

.optionFiveHome:active {
  background: -webkit-linear-gradient(#5f2f13, rgb(105, 16, 16));
  color: white;
}

@media (max-width: 1520px) {
  .info2 {
    width: 90%;
    height: 700px;
    margin: 2% 0% 5% 5%;
  }

  .optionOneIcon {
    margin-top: 0%;
    font-size: 400% !important;
  }

  .optionTwoIcon {
    margin-top: 0%;
    font-size: 400% !important;
  }
}

@media (max-width: 480px) {
  .info2 {
    animation: fadeIn 6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

@keyframes smallInfo {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
