.footerMain {
  display: flex;
  position: fixed;
  background: linear-gradient(135deg, #2a75ff 30%, #43ff32);
  bottom: 0;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: flex-end;
}

.emailFooter {
  margin-right: 1%;
}

@media(max-width: 1000px) {
  .footerMain {
    height: 1rem;
  }
}
