:root {
  --mainHeight: 700px;
  --animation-time-1: 3s;
  --animation-time-2: 5s;
  --animation-time-3: 7s;
  --animation-time-3: 7s;
  --animation-time-4: 9s;
  --animation-time-5: 2s;
  --animation-time-6: 3s;
  --animation-time-7: 4s;
  --animation-time-8: 1s;
  --animation-time-9: 2s;
  --animation-time-10: 2s;
  --animation-time-11: 2s;
  --animation-time-12: 1.25s;
  --animation-time-13: 3s;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: white;
  opacity: 0;
  animation: intro var(--animation-time-1)
    cubic-bezier(0.475, 0.885, 0.32, 0.875);
}

.main {
  display: flex;
  gap: 3%;
  height: var(--mainHeight);
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  height: 110%;
  width: 50%;
  border-radius: 1%;
  background: linear-gradient(#ffffff, #9b9b9b);
  margin: -5% 0% 0% 2%;
  animation: mainPage var(--animation-time-2)
    cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.info > * {
  margin-left: 13.5%;
}

.textTitle {
  font-family: "Cormorant SC", serif;
  text-decoration: underline;
  background: -webkit-linear-gradient(#2affff, rgb(63, 132, 236));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introHeader {
  font-weight: bold;
  font-size: 20px;
}

.introText {
  width: 70%;
}

.mainPicture {
  align-self: center;
  width: 66.5%;
  height: 50%;
  margin: 5% 5% 0% 0%;
  animation: pictureEntry var(--animation-time-3) ease-in;
}

.info2 {
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: .5fr 2fr 2fr .5fr;
  border-radius: 1%;
  background: linear-gradient(#fcfcfc, #999999);
  height: 110%;
  width: 40%;
  margin: -5% 0% 0% 3%;
  animation: smallInfo var(--animation-time-4)
    cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.info2Title {
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
  background: -webkit-linear-gradient(#2affff, rgb(63, 132, 236));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info2 > h2 {
  justify-self: center;
  align-self: center;
  text-align: center;
  border-radius: 10%;
  height: 110%;
  width: 80%;
  background: -webkit-linear-gradient(#2affff, rgb(63, 132, 236))
}

.mainAboutContainer {
  display: flex;
  width: 98%;
  gap: 12px;
  margin: 1% 0% 3.5% 1%;
}

.mainAbout {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 775px;
  border-radius: 1%;
  background: linear-gradient(#fcfcfc, #999999);
  overflow: scroll;
  animation: fadeIn1 var(--animation-time-5) ease-in;
}

.mainAbout > * {
  width: 80%;
}

.innerTitle {
  display: flex;
  justify-content: center;
}

.mainAbout2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  border-radius: 1%;
  background: linear-gradient(#fcfcfc, #999999);
  animation: fadeIn2 var(--animation-time-6) ease-in;
}

.mainAbout2 > * {
  width: 80%;
}

.mainAbout3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  border-radius: 1%;
  background: linear-gradient(#fcfcfc, #999999);
  animation: fadeIn3 var(--animation-time-7) ease-in;
}

.mainAbout3 > * {
  width: 80%;
}

.picAbout {
  width: 90%;
}

.mainPriceContainer {
  display: flex;
  width: 98%;
  gap: 12px;
  margin: 4% 0% 3% 1%;
}

.mainPrice {
  flex: 1;
  height: 700px;
  border-radius: 1%;
  background: linear-gradient(#fcfcfc, #999999);
  animation: fadeIn2 var(--animation-time-8) ease-in,
    slideDown var(--animation-time-9) cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mainPrice2 {
  flex: 1;
  border-radius: 1%;
  background: linear-gradient(#fcfcfc, #999999);
  animation: fadeIn3 var(--animation-time-10) ease-in,
    slideDown var(--animation-time-11) cubic-bezier(0.075, 0.82, 0.165, 1);
}

.innerPriceText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerPriceTextDisclaimer {
  width: 80%;
}

.innerPriceText2 {
  width: 80%;
}

.mainPrice2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPrice2 > *:nth-child(n + 2) {
  font-size: x-large;
  text-align: center;
}

.mainContactContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 750px;
  margin: 2% 0% 0% 20%;
}

.contactInfo {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  background: linear-gradient(#fcfcfc, #999999);
  animation: fadeIn4 var(--animation-time-12) ease-in,
    slideDown2 var(--animation-time-13) cubic-bezier(0.075, 0.82, 0.165, 1);
}

.emailPhoneInfo {
  display: flex;
  justify-content: center;
}

.pictureContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 0% 0% 16.5%;
  gap: 1%;
  width: 90%;
}

.contactPic {
  width: 25%;
  margin-top: 2%;
}

@media (max-width: 1520px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 3%;
    width: 100%;
    height: 100%;
    margin: 2% 0% 2% 20%;
  }

  .mainPicture {
    margin-bottom: 5%;
  }

  .info2 {
    width: 50%;
    height: 100%;
    margin: 2% 0% 2% 2%;
  }

  .pictureContainer {
    margin: 0% 0% 0% 5.5%;
    width: 100%;
  }
  .contactPic {
    width: 29%;
  }
}

@media (max-width: 1200px) {
  .info {
    width: 50%;
  }

  .info2 {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .mainAboutContainer {
    flex-direction: column;
    margin: 5% 0% 5% 1%;
  }

  .mainPriceContainer {
    flex-direction: column;
  }

  .mainPrice > * {
    margin-bottom: 8%;
  }

  .mainContactContainer {
    width: 90%;
    margin: 4% 0% 0% 5%;
  }

  .pictureContainer {
    height: 10%;
    margin: 0% 0% 0% 5%;
  }

  .contactPic {
    width: 30%;
    margin-top: 2%;
  }
}

@media (max-width: 550px) {
  .pictureContainer {
    width: 80%;
    margin-left: 13%;
  }
  .contactPic {
    width: 46%;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 0;
    transform: translateY(-40%);
  }
}

@keyframes mainPage {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes pictureEntry {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideDown2 {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes smallInfo {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
