:root {
  --mainHeight: 700px;
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: white;
  opacity: 0;
  animation: intro 4s cubic-bezier(0.475, 0.885, 0.32, 0.875);
}

.main {
  display: flex;
  gap: 3%;
  height: var(--mainHeight);
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  height: 89%;
  width: 50%;
  background-color: white;
  margin-left: 2%;
  animation: mainPage 5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.info > * {
  margin-left: 13.5%;
}

.textTitle {
  text-decoration: underline;
  color: rgb(80, 133, 248);
}

.introText {
  width: 70%;
}

.mainPicture {
  align-self: center;
  width: 72.5%;
  height: 50%;
  margin-left: 0;
  animation: pictureEntry 7s ease-in;
}

.info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 89%;
  width: 20%;
  margin-left: 20%;
}

.info2Title {
  color: rgb(105, 240, 105) !important;
}

.info2 > * {
  color: blue;
}

.mainAboutContainer {
  display: flex;
  width: 98%;
  gap: 12px;
  margin: 1% 0% 0% 1%;
}

.mainAbout {
  flex: 1;
  height: 800px;
  background-color: white;
  animation: fadeIn1 2s ease-in;
}

.mainAbout2 {
  flex: 1;
  background-color: white;
  animation: fadeIn2 3s ease-in;
}

.mainAbout3 {
  flex: 1;
  background-color: white;
  animation: fadeIn3 4s ease-in;
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 0;
    transform: translateY(-40%);
  }
}

@keyframes mainPage {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes pictureEntry {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

