:root {
  --mainHeight: 700px;
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: white;
  opacity: 0;
  animation: intro 4s cubic-bezier(0.475, 0.885, 0.32, 0.875);
}

.main {
  display: flex;
  gap: 3%;
  height: var(--mainHeight);
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  height: 89%;
  width: 50%;
  background: linear-gradient(#ffffff, #9b9b9b);
  margin-left: 2%;
  animation: mainPage 5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.info > * {
  margin-left: 13.5%;
}

.textTitle {
  text-decoration: underline;
  background: -webkit-linear-gradient(#2affff, rgb(63, 132, 236));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introHeader {
  font-weight: bold;
  font-size: 20px;
}

.introText {
  width: 70%;
}

.mainPicture {
  align-self: center;
  width: 66.5%;
  height: 50%;
  margin-right: 20%;
  animation: pictureEntry 7s ease-in;
}

.info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#fcfcfc, #999999);
  height: 89%;
  width: 20%;
  margin-left: 20%;
  animation: smallInfo 9s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.info2Title {
  background: -webkit-linear-gradient(#2affff, rgb(63, 132, 236));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info2 > *:nth-child(1n+2) {
  background: -webkit-linear-gradient(45deg, rgb(70, 71, 87), #000000);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info2 > *:nth-child(2n+2) {
  background: -webkit-linear-gradient(45deg, rgb(51, 52, 59), #000000);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainAboutContainer {
  display: flex;
  width: 98%;
  gap: 12px;
  margin: 1% 0% 3.5% 1%;
}

.mainAbout {
  flex: 1;
  height: 775px;
  background: linear-gradient(#ffffff, #575757);
  animation: fadeIn1 2s ease-in;
}

.mainAbout2 {
  flex: 1;
  background: linear-gradient(#ffffff, #575757);
  animation: fadeIn2 3s ease-in;
}

.mainAbout3 {
  flex: 1;
  background: linear-gradient(#ffffff, #575757);
  animation: fadeIn3 4s ease-in;
}

.innerTitle {
  display: flex;
  justify-content: center;
}

.picAbout {
  width: 100%;
}

.mainPriceContainer {
  display: flex;
  width: 98%;
  gap: 12px;
  margin: 4% 0% 3% 1%;
}

.mainPrice {
  flex: 1;
  height: 700px;
  background: linear-gradient(#ffffff, #575757);
  animation: fadeIn2 1s ease-in,
    slideDown 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mainPrice2 {
  flex: 1;
  background: linear-gradient(#ffffff, #575757);;
  animation: fadeIn3 2s ease-in,
    slideDown 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.innerPriceText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerPriceTextDisclaimer {
  width: 80%;
}

.innerPriceText2 {
  width: 80%;
}

.mainPrice2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPrice2 > *:nth-child(n+2) {
  font-size: x-large;
  text-align: center;
}

.mainContactContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 750px;
  margin: 2% 0% 0% 20%;
}

.contactInfo {
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff, #575757);
  animation: fadeIn4 1.25s ease-in,
    slideDown2 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.emailPhoneInfo {
  display: flex;
  justify-content: center;
}

.pictureContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 0% 0% 16.5%;
  gap: 1%;
  width: 90%;
}

.contactPic {
  width: 25%;
  margin-top: 2%;
}

@media (max-width: 1520px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 3%;
    width: 100%;
    height: 100%;
    margin: 2% 0% 2% 20%;
  }

  .mainPicture {
    margin-bottom: 5%;
  }
  
  .info2 {
    width: 50%;
    height: 100%;
    margin: 2% 0% 2% 2%;
  }

  .pictureContainer {
    margin: 0% 0% 0% 5.5%;
    width: 100%;
  }
  .contactPic {
    width: 29%;
  }
}

@media (max-width: 1200px) {

  .info {
    width: 50%;
  }

  .info2 {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .mainAboutContainer {
    flex-direction: column;
    margin: 5% 0% 5% 1%;
  }

  .mainPriceContainer {
    flex-direction: column;
  }

  .mainPrice > * {
    margin-bottom: 8%;
  }

  .mainContactContainer {
    width: 90%;
    margin: 4% 0% 0% 5%;
  }

  .pictureContainer {
    height: 10%;
    margin: 0% 0% 0% 5%;
  }

  .contactPic {
    width: 30%;
    margin-top: 2%;
  }
}

@media (max-width: 550px) {
  .pictureContainer {
    width: 80%;
    margin-left: 13%;
  }
  .contactPic {
    width: 46%;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 0;
    transform: translateY(-40%);
  }
}

@keyframes mainPage {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes pictureEntry {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideDown2 {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes smallInfo {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}