:root {
  --mainHeight: 700px;
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: white;
  opacity: 0;
  animation: intro 4s cubic-bezier(0.475, 0.885, 0.32, 1.075);
}

.main {
  display: flex;
  height: var(--mainHeight);
  width: 100%;
}

.info {
  grid-row: 1;
  height: 100%;
  width: 50%;
  background-color: white;
  animation: mainPage 5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.textTitle {
  text-decoration: underline;
  color:rgb(80, 133, 248);
}

.introText {
  width: 80%;
}

.mainPicture {
  width: 70%;
  height: 60%;
  animation: pictureEntry 6s ease-in;
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 0;
    transform: translateY(-40%);
  }
}

@keyframes mainPage {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes pictureEntry {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
