:root {
  --visible: 0;
  --height: 10px;
}

.navMain {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(#999999, #464646);
}

.logo,
.logoExpand {
  display: flex;
  flex: 3 1 auto;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant SC", serif;
  font-size: xx-large;
  color: white;
}

.navButton {
  border: 1px solid black;
  display: flex;
  flex: 0.25 1 auto;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #2affff 30%, #13ff9d);
  height: 4rem;
  width: auto;
}

.navButton:hover {
  color: white;
  cursor: pointer;
  background: linear-gradient(135deg, #21352a 30%, #138dff);
}

.navButton:active {
  color: white;
  background: linear-gradient(135deg, #0d1410 30%, #0d63b3);
}

.navButton:disabled {
  cursor: default;
}

.collapsedMenu {
  color: white;
  display: flex;
  background: none;
  border: none;
  flex: 0.1;
  height: auto;
}

.showOptions {
  opacity: var(--visible);
  height: var(--height);
  display: flex;
  flex-direction: column;
  transition: all 1.2s, opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

@media (max-width: 1000px) {
  .logo,
  .logoExpand {
    flex: 1 0.2 auto;
    height: 4rem;
    font-size: large;
  }
  .navButton {
    flex: 1 0.5 auto;
  }
}

@media (max-width: 750px) {
  .logo {
    justify-content: space-evenly;
    margin-left: 5%;
  }
  .navButton {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .showOptions {
    position: absolute;
    z-index: 1;
    right: 0;
  }
}
