.navMain {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(#999999, #464646);
}

.logo {
  display: flex;
  flex: 3 1 auto;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: white;
}

.navButton {
  border: 1px solid black;
  display: flex;
  flex: 0.25 1 auto;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2affff 30%, #13ff9d);
  height: 4rem;
  width: auto;
}

.navButton:hover {
  color: white;
  cursor: pointer;
  background: linear-gradient(135deg, #21352a 30%, #138dff);
}

@media (max-width: 1000px) {
  .logo {
    flex: 1 0.2 auto;
    height: 4rem;
    font-size: large;
  }
  .navButton {
    flex: 1 0.5 auto;
  }
}
