.mainPriceContainer {
  display: flex;
  width: 98%;
  gap: 12px;
  margin: 4% 0% 3% 1%;
}

.mainPrice {
  flex: 1;
  height: 700px;
  border-radius: 1%;
  background: linear-gradient(#fcfcfc, #999999);
  animation: fadeIn2 var(--animation-time-8) ease-in,
    slideDown var(--animation-time-9) cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mainPrice2 {
  flex: 1;
  border-radius: 1%;
  background: linear-gradient(#fcfcfc, #999999);
  animation: fadeIn3 var(--animation-time-10) ease-in,
    slideDown var(--animation-time-11) cubic-bezier(0.075, 0.82, 0.165, 1);
}

.innerTitle {
  display: flex;
  justify-content: center;
}

.innerPriceText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerPriceTextDisclaimer {
  width: 80%;
}

.innerPriceText2 {
  width: 80%;
}

.mainPrice2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPrice2 > *:nth-child(n + 2) {
  font-size: x-large;
  text-align: center;
}

@media (max-width: 1000px) {
  .mainPriceContainer {
    flex-direction: column;
  }

  .mainPrice > * {
    margin-bottom: 8%;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideDown2 {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
