.mainContactContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 750px;
  margin: 2% 0% 0% 20%;
}

.contactInfo {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  background: linear-gradient(#fcfcfc, #999999);
  animation: fadeIn4 var(--animation-time-12) ease-in,
    slideDown2 var(--animation-time-13) cubic-bezier(0.075, 0.82, 0.165, 1);
}

.innerTitle {
  display: flex;
  justify-content: center;
}

.emailPhoneInfo {
  display: flex;
  justify-content: center;
}

.pictureContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 0% 0% 16.5%;
  gap: 1%;
  width: 90%;
}

.contactPic {
  width: 25%;
  margin-top: 2%;
}

@media (max-width: 1000px) {
  .mainContactContainer {
    width: 90%;
    margin: 4% 0% 0% 5%;
  }

  .pictureContainer {
    height: 10%;
    margin: 0% 0% 0% 5%;
  }

  .contactPic {
    width: 30%;
    margin-top: 2%;
  }
}

@media (max-width: 550px) {
  .pictureContainer {
    width: 80%;
    margin-left: 13%;
  }
  .contactPic {
    width: 46%;
  }
}

@media (max-width: 480px) {
  .mainContactContainer {
    font-size: small;
    height: fit-content;
  }

  .contactPic {
    max-height: 100px;
    margin-bottom: 5%;
  }
}

@keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown2 {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
