.welcome {
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: white;
  opacity: 0;
  animation: intro var(--animation-time-1)
    cubic-bezier(0.475, 0.885, 0.32, 0.875);
}

.main {
  display: flex;
  gap: 3%;
  height: var(--mainHeight);
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  height: 110%;
  width: 50%;
  border-radius: 1%;
  background: linear-gradient(#ffffff, #9b9b9b);
  margin: -5% 0% 0% 2%;
  animation: mainPage var(--animation-time-2)
    cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.info > * {
  margin-left: 13.5%;
}

.textTitle {
  font-family: "Cormorant SC", serif;
  text-decoration: underline;
  background: -webkit-linear-gradient(#2affff, rgb(63, 132, 236));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introHeader {
  font-weight: bold;
  font-size: 20px;
}

.introText {
  width: 80%;
}

.mainPicture {
  align-self: center;
  width: 83.5%;
  height: 70%;
  margin: 0% 5% 4% 0%;
  animation: pictureEntry var(--animation-time-3) ease-in;
}

.buttonContainer {
  display: grid;
  gap: 10%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  animation: fadeInButtons var(--animation-time-4)
    cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.previousButton {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  margin-left: -20%;
  height: 200%;
  width: 90%;
  background: -webkit-linear-gradient(#2affff, rgb(63, 132, 236));
}

.previousButton > * {
  margin-left: -20%;
}

.previousButton:hover {
  background: -webkit-linear-gradient(#27a1a1, rgb(63, 132, 236));
  color: white;
}

.previousButton:active {
  background: -webkit-linear-gradient(#1c7272, rgb(36, 80, 145));
  color: white;
}

.nextButton {
  border: none;
  display: flex;
  gap: 20%;
  justify-content: center;
  align-items: center;
  height: 200%;
  width: 80%;
  background: -webkit-linear-gradient(#2affff, rgb(63, 132, 236));
}

.nextButton > * {
  margin-right: -20%;
}

.nextButton:hover {
  background: -webkit-linear-gradient(#27a1a1, rgb(63, 132, 236));
  color: white;
}

.nextButton:active {
  background: -webkit-linear-gradient(#1c7272, rgb(36, 80, 145));
  color: white;
}

.carouselNav {
  display: flex;
  justify-content: center;
  gap: 1%;
  padding: 10px 0;
  margin: 0% -2% 0% 0%;
  animation: fadeInButtons var(--animation-time-4)
    cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.carousel {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-top: 4%;
  background: rgba(0, 0, 0, 0.3);
}

.carouselSelect {
  background: rgba(0, 0, 0, 1);
}

.scrollSection {
  width: 86.5%;
  height: 100%;
  overflow: scroll;
  animation: fadeInButtons var(--animation-time-4)
    cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.defaultSelection {
  animation: newPage 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.defaultHome {
  width: 100%;
  height: 100%;
}

.newSelection {
  width: 100%;
  height: 100%;
  animation: newPage 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.newSelection2 {
  width: 100%;
  height: 100%;
  animation: newPage 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.newSelection3 {
  width: 100%;
  height: 100%;
  animation: newPage 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.newSelection4 {
  width: 100%;
  height: 100%;
  animation: newPage 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.newSelection5 {
  width: 100%;
  height: 100%;
  animation: newPage 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 1520px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 3%;
    width: 100%;
    height: 100%;
  }

  .mainPicture {
    margin-bottom: 5%;
  }

  .info {
    width: 90%;
    margin: -8% 0% 0% 5%;
  }

  .pictureContainer {
    margin: 0% 0% 0% 5.5%;
    width: 100%;
  }
  .contactPic {
    width: 29%;
  }
}

@media (max-width: 1000px) {
  .info {
    margin: -12% 0% 0% 5%;
  }
}

@media (max-width: 550px) {
  .info {
    margin: -20% 0% 0% 5%;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 0;
    transform: translateY(-40%);
  }
}

@keyframes mainPage {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes pictureEntry {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInButtons {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes newPage {
  0% {
    opacity: 0;
    transform: translateX(1%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
